html { 
  background: url(./images/moss_plants.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
}

.glass-modal {
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
  border: 2px solid white;
  z-index: 900;
}

.blur-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(38, 38, 38, 0.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 1005;
}

.glass-modal-header {
  background: rgba(255, 255, 255, 0.4);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
  padding: 5px;
  height: 30px;
  border-bottom: 1px solid white;
}

.glass-modal-header span {
  color: #000000;
  font-size: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px 5px;
}

.glass-modal-content {
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  padding: 10px;
}

.small-text {
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f8fc88;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.note {
  text-shadow: none;
  font-size: 16px;
  color: #000000;
  background-color: #fd9e22;
  padding: 1px 5px;
}

.glass-modal-content-message {
  margin-bottom: 20px;
}

.glass-modal-footer {
  height: 40px;
  position: absolute;
  bottom: 0px;
}

.glass-modal-footer button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgb(254 254 254 / 70%);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.4), 
    inset 1px 1px 2px rgba(256, 256, 256, 0.4), 
    3px 3px 3px rgba(0, 0, 0, 0.4);
  user-select: none;
}

.glass-modal-footer button:hover {
  background: rgb(244 255 214);
  color: black;
}

.glass-modal-footer button:active {
  margin-top: 2px;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.4), 
    inset -1px -1px 2px rgba(256, 256, 256, 0.4);

}

.menu-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 30px;
  border-radius: 0 0 10px 10px;
  border-top: none;
  box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.menu-bar span {
  font-size: 23px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 2px 10px;
}

.main-layout {
  display: flex;
  height: calc(100vh - 30px); /* Subtracting the height of the menu bar */
  margin-top: 70px;
}

.side-bar {
  width: 200px;
  z-index: 900;
  margin-right: 20px; /* Add some space between the side bar and the main window */
}

.side-bar ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
} 

.side-bar li {
  padding: 10px;
  text-align: left;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-bottom: 1px solid white;
  text-decoration: none;
}

.side-bar li a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.side-bar li a:hover {
  color: rgb(231, 252, 174);
}

.side-bar li a.activeLink {
  color: rgb(0 0 0);
  text-shadow: none;
}

.main-window {
  flex-grow: 1; /* This will make the main window take up the rest of the space */
  height: 100%;
  margin-left: 220px; /* Add some space between the side bar and the main window */
}

.content-area {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.column {
  padding: 20px;
  box-sizing: border-box;
}

.column-fixed {
  flex: 0 0 200px;
}

.column-fluid {
  flex: 1;
}

.section ul.bullets {
  list-style-type: disc;
  margin-left: 15px;
}

@media (max-width: 769px) {
  .column {
    flex-basis: 100%;
    padding: 10px;
  }

  .side-bar li {
    padding: 5px;
    font-size: 16px;
    flex: 1;
    text-align: center;
    border-bottom: none;
    border-right: 1px solid white;
  }

  .side-bar li:last-child {
    border-right: none;
  }

  .side-bar li a {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }

  .side-bar .glass-modal-content-message {
    margin-bottom: 0px;
  }
}

/* Hide header in landscape mode on mobile devices */
@media (max-width: 900px) and (orientation: landscape) {
  .menu-bar {
    display: none;
  }
  
  .main-layout {
    margin-top: 10px; /* Reduce top margin since header is hidden */
    height: 100vh; /* Use full viewport height */
  }
}

@media (min-width: 769px) {
  .side-bar ul {
    display: grid;
  }
}


